j-heading{
    color: black;
    font-size: 60px;
    font-weight: 700;
    
}
.j-paragraph{
   font-weight: bold;
}
.container{
   margin-top: 11vh;
   justify-content: center;
  
   

}
.req-txt{
   text-align: left;
}
.req-form{
   text-align: right;
   justify-self: end;
}
.third-r{
   margin-top: 100px;
   width: 100%;

}
.Name-label{
   
   display: block;
   float: left;
   
}
.reqdemo-image{
   height: 380px;
   margin-left: -1vw;
   
   margin-top: 90px;
   flex-flow: row;
   float: center;
   justify-content: center;

}
.Name-label2{
   padding: 0px 10px;
}
.card3{
   border: 2px solid whitesmoke;
   border-radius: 15px;
   height: 180vh;
   
}
.card2{
   background-color: white;
   
  display: inline-flex;
  float: left;
  height: 180vh;
}
.left-side-heading{
   font-weight: bolder;
   color: #444444;
   font-size: 3vw;
   justify-content: center;
   display: flex;
   flex-wrap: nowrap;
   

}
.pragrahp-left{
   font-size: larger;
   font-weight: 700;
   display: flex;
   float: right;
   color: rgb(117, 116, 116);
   justify-content: center;
  
}
.form-heading{
   font-weight: bolder;
   color: #444444;
   margin-left: 30px;
   justify-content: center;
   display: flex;

}
.inline-input{
   
   display: flex;
   margin: 5px;
  font-weight: 700;
   margin-top: 12px;
   padding-top: 10px;
   
   
}
.form-control{
   display: flex;
   width: 50%;
   flex-flow: row;
   margin: 3px;
}
.in-row{
   font-weight: 700;
   color: #444444;
   margin-top: 10px;
   padding-top: 15px;
   
}
.input{
   display: flex;
   align-self: left;
   align-items: left;
   
           
}