.last-content-main{
    width: 100%;
    text-align: center;
    margin-top: 3rem;
}
.div-last-left{
    width: 50%;
    float: left;
}
.div-last-right{
    width: 50%;
    float: right;

}
.list_one{
    list-style-type: none;
    font-size: 1.3rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande';
    font-weight: 400;
    padding: 1rem ;
    font-style: normal;
}
.list_left{
    padding: 2rem ;
}
.second-Last-content{
    width: 100%;
    text-align: center;
    margin-top: 10rem;
}
.scnd-last-left{
    float: left;
    width: 50%;
}
.scnd-last-right{
    float: right;
    width: 50%;
}
.vv{
    margin-top: 40rem;
    text-align: center;
}
.scnd-last-left{
    float: left;
}
.scnd-last-right{
    float: right;

}
.rightpara-side{
    font-size: 1.6rem;
    margin-top: 14rem;
}
.rightpara-side2{
    font-size: 1.6rem;

}
.rightpara-side33{
    font-size: 1.6rem;
    margin-top: 3rem;
}